
<body class="showbody">
    
    <div class="showtext">
      <%= flash[:notice] %>
    </div>
    <div class="showtext">
        <p class="showtexttitle">Title:</p>
        <p><%= @book.title %></p>        
    </div>
    <div class="showtext">
        <p class="showtextbody">body:</p>
        <p><%= @book.body %></p>       
    </div>

    
    <div class="showbuttons">
        <p class="showbutton"><%= link_to "Edit",edit_book_path(@book.id) %></p>
        <p class="showbutton">|</p>
        <p class="showbutton"><%= link_to "Back",books_path %></p>
    </div>
</body>